<tr class="grey">
  <td>
    <table>
      <%= form_for(@user, url: (url_for controller: :users, action: :update, id: @user.id)) do |f| %>
          <% if @user.errors.any? %>
              <tr>
                <td>
                  <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
                </td>
              </tr>
              <tr>
                <td>
                  <ul>
                    <% @user.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                  </ul>
                </td>
              </tr>
          <% end %>

          <tr>
            <td valign="top"><%= f.label :name %></td>
            <td><%= f.text_field :name %></td>
            <td><%= f.hidden_field :id %></td>
          </tr>
          <tr>
            <td valign="top">Karma:</td>
            <td> <%= @karma %> </td>
          </tr>
          <tr>
            <td valign="top">created:</td>
            <td> <%= time_ago_in_words(@user.created_at) %> ago</td>
          </tr>
          <tr>
            <td valign="top"><%= f.label :email %></td>
            <td><%= @user.email %></td>
          </tr>
          <tr>
            <td valign="top"><%= f.label :auth_token %></td>
            <td><%= @user.token() %>></td>
          </tr>


          <tr>
            <td><%= f.submit %></td>
          </tr>
          <tr>
            <td><a href="/threads?id=<%= @user.id %>"><u>comments</u></a></td>
          </tr>
      <% end %>
    </table>
  </td>
</tr>
