<tr class="grey">
  <td>
    <table border="0">
      <tbody>
      <tr>
        <td valign="top">User name:</td>
        <td><%= @user.name %></td>
      </tr>
      <tr>
        <td valign="top">Email :</td>
        <td><%= @user.email %></td>
      </tr>

      <tr>
        <td valign="top">created:</td>
        <td> <%= time_ago_in_words(@user.created_at) %> ago</td>
      </tr>
      <tr>
        <td></td>
        <td><a href="/threads?id=<%= @user.id %>"><u>comments</u></a></td>
      </tr>
      <% if logged_in? %>
        <% unless @user.id != current_user.id %>
            <tr>
              <td></td>
              <td><a href="/users?id=<%=@user.id %>">Edit</a></td>
            </tr>
        <% end %>
      <% end %>

      </tbody>
      <tr><td valign="top">Karma:</td><td> <%= @karma %> </td > </tr>
    </table>
    <br><br>
  </td>
</tr>