<tr class="athing">
  <td class="ind"></td>
  <td valign="top" class="votelinks">
    <a href="#">
      <div class="votearrow" title="upvote"></div>
    </a>
  </td>
  <td class="default">
    <div style="margin-top:2px; margin-bottom:-10px;">
        <span class="comhead">
          <a href="/discuss?id=<%= @contribution.id %>">
            <%= @contribution.title %>
          </a>
          <% if !@contribution.url.blank? %>
              (<a href="<%= @contribution.url %>"><%= @contribution.url%></a>)
          <% end %>
          </span>
    </div>
    <p><%= @contribution.votes.length %> points by 
    <a href="/user?id=<%= @contribution.user.id %>"><%= @contribution.user.name %></a> 
    <a href="/discuss?id=<%= @contribution.id %>"><%= time_ago_in_words(@contribution.created_at) %> ago</a> | 
    past | web | 
     <a href="/discuss?id=<%= @contribution.id %>"><%= @contribution.replies.length %> comments</a></p>
    <p><%= @contribution.content %></p>
</tr>
<tr style="height:10px"></tr>