<% content_for :title, 'Discuss' %>

<table>
  <%= render 'post_detail' %>

  <tr>
    <td colspan="2"></td>
    <td>
      <%= form_for(@discuss) do |f| %>

          <%= f.hidden_field :parent_id, value: @discuss.parent_id %>
          <%= f.hidden_field :user_id, value: @discuss.user_id %>
          <%= f.hidden_field :contr_type, value: @discuss.contr_type %>
          <%= f.text_area :content, cols: 60, rows: 6 %>
          <div class="actions">
            <%= f.submit 'Comment' %>
          </div>
      <% end %>
    </td>
  </tr>
  <tr>
    <% @contribution.replies.each do |comment| %>
        <%= render 'discuss_comment', commentary: comment %>
        <% comment.replies.each do |reply| %>
            <td style="margin-left: 20px"><%= render 'discuss_reply', reply: reply %> </td>
        <% end %>
    <% end %>
  </tr>
</table>
 
 
