<% content_for :title, "Hacker News" %>
<head>
</head>
<body>

  <table bgcolor= #f6f6ec width="100%">
    <% @contributions.each do |contribution| %>
    <tr>
      <td>
        <font color="grey"><%= contribution.id %></font>
        <font color="black"><a href="<%= contribution.url %>"><%= contribution.content%></a></font>
        <font color="grey">(<%= contribution.url %>)</font>
      </td>
    </tr>
    <tr>
      <td>
        <font color="grey">
          <%= contribution.upvote %> points by <a href="/users/<%= contribution.user_id%>"><%= contribution.user.name%></a>
          <a href="/contributions/<%= contribution.id %>"><%=( (Time.now() - contribution.created_at)/3600).round %> hours ago</a> | <a href="/contributions/<%= contribution.id %>">0</a> comments
        </font>
      </td>
    </tr>
    <tr class="spacer" style="height:5px"></tr>
    <% end %>                
  </table>

</body>