<% content_for :title, "Hacker News" %>
<head>
</head>
<body>

<table class="grey" width="100%">
  <% @contributions.each_with_index do |contribution, index| %>
      <tr>
        <td align="right" valign="top">
          <font color="grey"><%= index+1 %>.</font>
        </td>
        <td valign="top">
          <% unless logged_in? and contribution.votes.any? { |v| v.user_id == current_user.id } %>
              <%= link_to '<div class="votearrow" title="upvote"></div>'.html_safe, {:controller => "votes",
                                                                                     :action => "create",
                                                                                     :vote => {
                                                                                         :contribution_id => contribution.id
                                                                                     }},
                          :method => "post" %>
          <% end %>
        </td>
        <td>


          <font color="black">
            <% unless contribution.url.blank? %>
                <a href="<%= contribution.url %>">
            <% end %>
            <%= contribution.title %>
            <% unless contribution.url.blank? %>
                </a>
            <% end %>
          </font>
          <% unless contribution.url.blank? %>
              <font color="grey">(<%= contribution.url %>)</font>
          <% end %>
        </td>
      </tr>
      <tr>
        <td colspan="2"></td>
        <td>

          <font color="grey">
            <%= contribution.upvote %> points by <a href="/user?id=<%=contribution.user_id%>"> <%= contribution.user.name %> </a>
             <a href="/discuss?id=<%= contribution.id %>"><%= time_ago_in_words(contribution.created_at) %> ago</a> |
            <a href="/discuss?id=<%= contribution.id %>"><%= contribution.replies.length %></a> comments
          </font>
        </td>
      </tr>
      <tr class="spacer" style="height:5px"></tr>
  <% end %>
</table>

</body>