<p id="notice"><%= notice %></p>

<p>
  <strong>Contr type:</strong>
  <%= @contribution.contr_type %>
</p>

<p>
  <strong>Contr subtype:</strong>
  <%= @contribution.contr_subtype %>
</p>

<p>
  <strong>Content:</strong>
  <%= @contribution.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @contribution.user %>
</p>

<p>
  <strong>Url:</strong>
  <%= @contribution.url %>
</p>

<p>
  <strong>Upvote:</strong>
  <%= @contribution.upvote %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @contribution.parent %>
</p>

<%= link_to 'Edit', edit_contribution_path(@contribution) %> |
<%= link_to 'Back', contributions_path %>
