<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<table id="hnmain">

  <tr>
    <td bgcolor="#ff6600">
      <table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:2px">
        <tbody>
        <tr>
          <td style="width:18px;padding-right:4px">
            <a href="/">
              <img src="<%= image_url('y18.gif') %>" width="18" height="18" style="border:1px white solid;">
            </a>
          </td>
          <td style="line-height:12pt; height:10px;">
            <span class="pagetop">
              <b class="brandname">
                <%= yield(:title) %>
              </b>
              <%= yield(:navigation) %>
            </span>
            <span><a href="/newest">new</a> </span> |
            <span>threads</span> |
            <span>comments</span> |
            <span>apply</span> |
            <span>show</span> |
            <span><a href="/ask">ask</a> </span> |
            <span>jobs</span> |
            <span><a href="/submit">submit</a></span>
            <span class="login">
              <% if not logged_in? %>
                  <%= link_to 'Sign in', signin_path(:google) %>
              <% else %>
                  <%= current_user.email %> |
                  <%= link_to 'Sign out', controller: 'sessions', action: 'destroy' %>
              <% end %>
                 </span>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <%= yield %>
    </td>
  </tr>

</table>
</body>
</html>
